################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppManagement/obj/Debug
/AppManagement/bin
/packages
/.vs/AppManagement
/App.Api/bin/Debug/netcoreapp2.1
/App.Entities/bin/Debug/netstandard2.0
/App.Entities/obj
/App.Api/obj
/App.Web/bin
/App.Web/Grid.mvc.readme
/App.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/App.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/App.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
