@{
    ViewBag.Title = "Home Page";
}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Create Application</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <p>

                    </p>
                    <p><a class="btn btn-primary" href="/Application/Index">Create Application</a></p>
                    <p><a class="btn btn-primary" href="/Application/Search">Search Application</a></p>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
