
@model IEnumerable<App.Entities.Application>
@using GridMvc.Html

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

<div class="row">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(col => col.Id, "Id").Titled("Application ID");
        columns.Add(col => col.CreatedBy).Titled("Created By").Sortable(true).Filterable(true);
        columns.Add(col => col.Status).Titled("Status").RenderValueAs(col => col.Status == 1 ? "Saved" : "Submitted").Sortable(true).Filterable(true);
        columns.Add().Encoded(false).Sanitized(false)
        .RenderValueAs(col => @Html.ActionLink("Edit", "Index", "Application", new { Id = col.Id }, null));
    }).WithPaging(10)
</div>


@section Scripts {
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
}
