@model App.Web.Models.ApplicationViewModel
@{
    ViewBag.Title = "Confirmation";
}

    <div class="panel panel-default">
        <div class="panel-heading">Your Application has been completed!</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        For transaction receipt download @Html.ActionLink("here","Index","Download",new { @appId=Model.Id},null)
                    </p>
                </div>
            </div>
        </div>
    </div>

