<div class="panel panel-default">
    <div class="panel-heading"><div class="row"><h4 class="col-md-12 text-danger">Sorry! Something went wrong...</h4></div></div>

    <div class="panel-body">
        <p>
            The Requested page seems to have not found or temporarily not available. Please navigate to @Html.ActionLink("Home","Index","Home",null,new { @class="text-danger"}) and try again...
        </p>
        </div>
</div>
